<!DOCTYPE suite SYSTEM "http://testng.org/testng-current.dtd" >

<suite name="Selenium Automation Suite" verbose="1">

    <!-- Smoke Tests - Quick validation tests -->
    <test name="Smoke Tests" group-by-instances="true">
        <groups>
            <run>
                <include name="smoke" />
            </run>
        </groups>
        <classes>
            <class name="tests.LoginTest" />
            <class name="tests.DashboardTest" />
        </classes>
    </test>

    <!-- Regression Tests - Comprehensive testing -->
    <test name="Regression Tests" group-by-instances="true">
        <groups>
            <run>
                <include name="regression" />
            </run>
        </groups>
        <classes>
            <class name="tests.LoginTest" />
            <class name="tests.DashboardTest" />
            <class name="tests.ProfileTest" />
            <class name="tests.EmployeeTest" />
        </classes>
    </test>

    <!-- All Tests -->
    <test name="All Tests">
        <classes>
            <class name="tests.LoginTest" />
            <class name="tests.DashboardTest" />
            <class name="tests.ProfileTest" />
            <class name="tests.EmployeeTest" />
        </classes>
    </test>

</suite>
